@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

/* HEADER */

li,
a,
button {
  font-family: 'Poppins', Sans-Serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 10%;
  background-color: white;
  position: fixed;
  min-height: 10vh;
}

.logo {
  cursor: pointer;
  margin-left: 0.5rem;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 1.5rem;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  padding: 0 2.5rem;
  align-items: center;
}

.nav-links li a:hover {
  transition: all 0.3s ease 0s;
  color: #dd175d;
  text-decoration: underline;
}

.button {
  padding: 0.7rem 1.5rem;
  color: #fff;
  background-color: #dd175d;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-right: 0.5rem;
}

.button:hover {
  background-color: #6460f5;
}

nav#nav-bar ul {
  display: flex;
}

nav#nav-bar ul li {
  margin: 0;
  padding: 0;
  display: flex;
}

/* IMAGE */

.computer-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10rem;
}

.lorem-text {
  text-align: center;
}

/* OUR MISSION */

.featured-wrapper {
  padding: 4rem;
  font-size: 1.5rem;
  font-family: 'Poppins', Sans-Serif;
  text-align: center;
  width: 70%;
  margin: auto;
  text-decoration: none;
}

/* LIST ITEMS */

.list li {
  font-family: 'Roboto', Sans-Serif;
  color: #163c7b;
  text-align: center;
  line-height: 4rem;
}

/* VIDEO */

#video-section {
  text-align: center;
  padding: 5rem 0 4rem;
}

/* PRICING BOXES */

.heading h1 {
  font-family: 'Poppins', Sans-Serif;
  color: rgba(0, 0, 0, 0.76);
  padding-bottom: 3.5rem;
}

.card-header h1 {
  color: #6460f5;
  font-family: 'Poppins', Sans-Serif;
}

.card-body {
  font-family: 'Poppins', Sans-Serif;
}

.card-body li {
  list-style-type: none;
}

.container {
  width: 80%;
  margin: 50px auto;
}
.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.card {
  min-width: 18rem;
  background: #fff;
  border: 3px solid #dd175d;
  margin-bottom: 3rem;
  transition: 0.3s;
  border-radius: 5px;
}

.card-header {
  text-align: center;
  padding: 2.5rem 0.8rem;
  background: linear-gradient(#6460f5, #dd175d);
  color: #fff;
}

.card h1 {
  border-radius: 3px;
}

.card-body {
  padding: 2rem 1.5rem;
  text-align: center;
  font-size: 18px;
}

.card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(#6460f5, #dd175d);
  margin-top: 2rem;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
}

/* SUBSCRIBE */

.subscribe {
  background-color: white;
  font-family: 'Poppins', Sans-Serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
  margin: auto;
}

.form-control {
  margin: AUTO;
}

.subscribe-box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 500px;
  height: 300px;
  margin-bottom: 50px;
}

.form-control label {
  color: black;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #dd175d;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.submit-button {
  border: 2px solid #6460f5;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: white;
  background-color: #dd175d;
  font-family: 'Poppins', Sans-Serif;
}

/* FOOTER */

footer {
  background: #6460f5;
  text-align: center;
  padding: 1rem 0.5rem;
}

footer p {
  background: #6460f5;
  color: white;
  font-family: 'Poppins', Sans-Serif;
}

/* -----**** MEDIA QUERIES*****----- */

@media screen and (max-width: 1050px) {
  .card {
    width: 40%;
  }
}

@media (max-width: 870px) {
  header {
    display: block;
    text-align: center;
  }

  .nav-links li a {
    display: block;
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
  }

  .logo {
    margin: 0.8rem 0;
  }

  .computer-image {
    padding-top: 14rem;
  }

  .featured-wrapper {
    padding-top: 0.8rem;
    font-size: 1.3rem;
  }
}

/* SMALLEST SETTING */

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }

  nav#nav-bar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.3;
  }
  #nav-bar li a {
    font-size: 1.2rem;
  }

  .heading {
    padding: 1.2rem;
    font-size: 1.2rem;
  }

  .button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #dd175d;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 0.5rem;
  }

  .computer-image {
    display: block;
    margin: 0 auto;
    padding-top: 20rem;
    width: 350px;
  }

  .featured-wrapper {
    padding: 2rem;
    font-size: 1rem;
    font-family: 'Poppins', Sans-Serif;
    text-align: center;
    width: 90%;
    margin: auto;
    text-decoration: none;
  }

  .list ul li {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }

  .card {
    width: 80%;
  }

  .subscribe-box {
    width: 100%;
  }
}
